@()

@main("Rules of Skull King", "bg-tavern") {
    <div class=" w-4/5 my-10 mx-auto p-16 rounded-2xl bg-clip-padding backdrop-filter backdrop-blur-2xl bg-opacity-40 text-white">
        <h1 class=" text-8xl text-center py-4">Welcome to the rules of Skull King!</h1>
            <h2 class="text-center">The swashbuckling pirate trick game
                by Brent Beck for 2 to 6 players from age 8.
            </h2>

        <h3 class="text-6xl py-4">Background</h3>
        <p class="font-sans">
            What’s all this nonsense about sea battles with thundering canons
            and grappling hooks! In reality it was all much more harmless!
            Venerable pirates preferred to hold their battles at gaming tables
            in shabby taverns using playing cards. The one who was not only
            able to wangle the most tricks from his opponent but also
            succeed in predicting them most accurately, won the contest.
        </p>

        <h3 class="text-6xl py-4">Objective of the game</h3>
        <p class="font-sans">
            The pirates’ contest lasts 10 hands. In each hand the players
            have to bid the number of tricks they intend to win in that
            Anyone who fails to fulfil their bid because they win too
            many or too few tricks loses glory and fame. It can be very
            lucrative to make a no-tricks bid. But it is also very risky…
            During the fi rst hand each player has only one card at their
            disposal; from hand to hand the number of cards increases by one. In each
            hand the players endeavour to achieve as many points as possible. The player who was able to collect the most points after 10 hands is the winner.
        </p>

        <h3 class="text-6xl py-4">Preparing for the game and sequence of a hand</h3>
        <p class="font-sans">
            All the cards are shuffled well. Then cards are dealt to each player so that nobody can see them.
            The <strong>number of cards changes from one hand to the next.</strong> In the fi rst hand each player receives
            only 1 card, in the second 2 cards etc. until in the tenth and last hand each player is dealt 10
            cards. Throughout the game, as many rounds are played as the players are holding cards in their
            hands. [Example: it would not be possible to win 5 tricks if you are holding four
            cards as there will only be four rounds]. In each round every player has to play
            out one card openly, one after the other. Th is is called a “trick”.
        </p>
        <p class="font-sans">
            After dealing, each player looks at their card(s) and thinks about how
            many tricks they will win with this/these cards. To be able to see better,
            please remove all eye patches.
        </p>
        <p class="font-sans">
            As a sign that a player has decided on the number of tricks, they stretch a fist out towards the
            centre of the table. When all the players are holding up their fists towards the middle of the
            table, they utter the pirates’ battle cry <strong>“YO – HO – HO”</strong>. As they do so all the players raise their
            fists and hammer them on the table with each word of the pirates’ battle cry. With the second
                <strong>“HO”</strong> the players all open their fists at the same time and stretch out as many fingers as the
            tricks they want to win in that round.
        </p>
        <blockquote>
            Note: Anyone who thinks they are capable of winning more than five tricks stretches out five
            fingers, <strong>at the same time</strong> naming the number loud and clear.
        </blockquote>
        <p class="font-sans">
            The bids for each player are noted down in the narrow column on the notepad.
        </p>
        <div class="mx-auto text-center">
            <a href="/play">
                <button class="bg-gray-800 hover:bg-gray-700 text-white text-center font-bold py-2 px-4 rounded mt-8">
                    Play Skull King Now
                </button>
            </a>
        </div>
    </div>
}

