@import de.htwg.se.skullking.model.StateComponent.IGameState

@(state: IGameState)

@main("Skull King™️", "bg-pre-game") {
    <div class="text-white">
        <h1 class="w-fit text-9xl text-center bg-gray-800 bg-opacity-50 mx-auto my-5 text-white backdrop-blur-xl px-8 rounded-2xl">Game Status</h1>
        @*// table*@

        <div class="w-4/5 h-full overflow-scroll shadow-md rounded-2xl bg-clip-border mx-auto mb-10">
                <table class="w-full text-left table-auto min-w-max bg-gray-800 bg-opacity-50 text-white font-arial backdrop-blur-xl ">
                    <thead class="text-left">
                        <tr class="bg-gray-900">
                            <th class="py-2 px-4">Player</th>
                            <th class="py-2 px-4">Score</th>
                            <th class="py-2 px-4">Prediction</th>
                            <th class="py-2 px-4">Hand</th>
                            <th class="py-2 px-4">Active</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(player <- state.players.toArray) {
                        <tr>
                            <td class="py-2 px-4">@player.name</td>
                            <td class="py-2 px-4">@player.score</td>
                            <td class="py-2 px-4">@player.prediction</td>
                            <td class="py-2 px-4">@player.hand</td>
                            <td class="py-2 px-4">@player.active</td>
                        </tr>
                    }
                    </tbody>
                </table>
        </div>

    </div>


}
