@import de.htwg.se.skullking.util.RouteInfo
@(routes: List[RouteInfo])

@display(route: RouteInfo) = {
  <tr>
    <td class="text-white p-4 w-1/6 route-@route.method.toLowerCase()">@route.method.toUpperCase()</td>
    <td class="p-4">@route.path</td>
    <td class="p-4">@route.description</td>
  </tr>
}

@main("Skull King™️", "bg-town") {
  <h1 class="title-font text-9xl text-center mt-4 mb-6 text-white drop-shadow py-10">SkullKing</h1>

  <div class="w-4/5 h-full overflow-scroll shadow-md rounded-2xl bg-clip-border mx-auto mb-10">
  <table class="w-full text-left table-auto min-w-max bg-gray-800 bg-opacity-50 text-white font-arial backdrop-blur-xl ">
    <thead class="text-left">
      <tr class="bg-gray-900">
        <th class="py-2 px-4">Method</th>
        <th class="py-2 px-4">Path</th>
        <th class="py-2 px-4">Description</th>
      </tr>
    </thead>
    <tbody>
    @for(route <- routes) {
      @display(route)
    }
    </tbody>
  </table>
  </div>
}